version: "3.8"

x-logging: &loki-logging
    driver: loki
    options:
      loki-url: "${DEPLOY_LOKI_URL}"
      loki-retries: 5
      loki-batch-size: 400

services:
  web:
    image: ${DEPLOY_IMAGE_WEB:-gkiko/streama:latest}
#:log |    logging: *loki-logging
#:port|    ports:
#:port|      - ${DEPLOY_PORT_WEB:-8080}:8080
    entrypoint: ["java", "-Dgrails.env=mysql", "-jar", "streama.jar"]
    networks:
      - internal_network
      - external_network
    depends_on:
      - db
    environment:
      ACTIVE_PROFILE: mysql
      MYSQL_HOST: db
      MYSQL_PORT: 3306
      MYSQL_DB: streama
      MYSQL_USER: streama
      MYSQL_PASSWORD: streama_password
    volumes:
      - videos:/videos
      - type: bind
        source: /etc/timezone
        target: /etc/timezone
        read_only: true
    deploy:
      replicas: 1
      placement:
        constraints: 
          - ${DEPLOY_NODE_WEB:-node.labels.ignore != true}
      labels:
        - "traefik.enable=true" #!port
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-streama}.rule=Host(`${DEPLOY_SUBDOMAIN:-streama}.${DEPLOY_HOSTNAME}`)"
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-streama}.entrypoints=webhttps"
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-streama}.tls.certresolver=le"
        - "traefik.http.services.${DEPLOY_STACK_NAME:-streama}.loadbalancer.server.port=8080"

  db:
    image: ${DEPLOY_IMAGE_DB:-mysql:5.6}
#:log |    logging: *loki-logging
    environment:
      MYSQL_ROOT_PASSWORD: streama_root_password
      MYSQL_USER: streama
      MYSQL_DATABASE: streama
      MYSQL_PASSWORD: streama_password
    networks:
      - internal_network
    volumes:
      - db:/var/lib/mysql
      - type: bind
        source: /etc/timezone
        target: /etc/timezone
        read_only: true
    deploy:
      replicas: 1
      placement:
        constraints: 
          - ${DEPLOY_NODE_DB:-node.labels.ignore != true}

networks:
  internal_network:
    internal: true
  external_network:
    external: true

volumes:
  db:
    driver_opts:
      type: "nfs"
      o: "addr=$DEPLOY_DATA_HOST,nolock,soft,rw"
      device: ":$DEPLOY_DATA_ROOT/${DEPLOY_STACK_NAME:-streama}/db"
  videos: #!media_video
    driver_opts: #!media_video
      type: "nfs" #!media_video
      o: "addr=$DEPLOY_DATA_HOST,nolock,soft,rw" #!media_video
      device: ":$DEPLOY_DATA_ROOT/${DEPLOY_STACK_NAME:-streama}/videos" #!media_video
#:media_video|  videos:
#:media_video|    driver_opts:
#:media_video|      type: "nfs"
#:media_video|      o: "addr=$DEPLOY_MEDIA_VIDEO_HOST,nolock,soft,rw"
#:media_video|      device: ":$DEPLOY_MEDIA_VIDEO_ROOT"
