version: "3.8"

x-logging: &loki-logging
    driver: loki
    options:
      loki-url: "${DEPLOY_LOKI_URL}"
      loki-retries: 5
      loki-batch-size: 400

services:
  web:
    image: ${DEPLOY_IMAGE_WEB:-wildcat/scylla:1.1.7}
#:log |    logging: *loki-logging
    networks:
      - external_network
    volumes:
      - data:/var/www/scylla
    ports:
      - ${DEPLOY_PORT_PROXY:-8081}:8081
#:port|      - ${DEPLOY_PORT_WEB:-8899}:8899
    deploy:
      replicas: 1
      placement:
        constraints: 
          - ${DEPLOY_NODE_WEB:-node.labels.ignore != true}
      labels:
        - "traefik.enable=true" #!port
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-scylla}.rule=Host(`${DEPLOY_SUBDOMAIN:-scylla}.${DEPLOY_HOSTNAME}`)"
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-scylla}.entrypoints=webhttps"
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-scylla}.tls.certresolver=le"
        - "traefik.http.services.${DEPLOY_STACK_NAME:-scylla}.loadbalancer.server.port=8899"

networks:
  external_network:
    external: true

volumes:
  data:
    driver_opts:
      type: "nfs"
      o: "addr=$DEPLOY_DATA_HOST,nolock,soft,rw"
      device: ":$DEPLOY_DATA_ROOT/${DEPLOY_STACK_NAME:-scylla}/data"
