version: "3.8"

x-logging: &loki-logging
    driver: loki
    options:
      loki-url: "${DEPLOY_LOKI_URL}"
      loki-retries: 5
      loki-batch-size: 400

services:
  web:
    image: ${DEPLOY_IMAGE_WEB:-n8nio/n8n:1.18.0}
#:log |    logging: *loki-logging
#:env |    env_file: ${DEPLOY_ENV_WEB}
#:port|    ports:
#:port|      - ${DEPLOY_PORT_WEB:-5678}:5678
    environment:
      N8N_DIAGNOSTICS_ENABLED: 'false'
      N8N_VERSION_NOTIFICATIONS_ENABLED: 'false'
      N8N_PROTOCOL: https #!no-proxy
      N8N_HOST: ${DEPLOY_SUBDOMAIN:-n8n}.${DEPLOY_HOSTNAME} #!no-proxy
      WEBHOOK_URL: https://${DEPLOY_SUBDOMAIN:-n8n}.${DEPLOY_HOSTNAME} #!no-proxy
    networks:
      - external_network
    volumes:
      - data:/home/node/.n8n
#:media |      - media:/media
#:rclone|      - rclone:$DEPLOY_RCLONE_LOCAL
    deploy:
      replicas: 1
      placement:
        constraints: 
          - ${DEPLOY_NODE_WEB:-node.labels.ignore != true}
      labels:
        - "traefik.enable=true" #!no-proxy
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-n8n}.rule=Host(`${DEPLOY_SUBDOMAIN:-n8n}.${DEPLOY_HOSTNAME}`)"
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-n8n}.entrypoints=webhttps"
#:client-ssl|        - "traefik.http.routers.${DEPLOY_STACK_NAME:-n8n}.tls.options=sslVerifyClient@file"
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-n8n}.tls.certresolver=le"
        - "traefik.http.services.${DEPLOY_STACK_NAME:-n8n}.loadbalancer.server.port=5678"

networks:
  external_network:
    external: true

volumes:
  data:
    driver_opts:
      type: "nfs"
      o: "addr=$DEPLOY_DATA_HOST,nolock,soft,rw"
      device: ":$DEPLOY_DATA_ROOT/${DEPLOY_STACK_NAME:-n8n}/data"
#:media |  media:
#:media |    driver_opts:
#:media |      type: "nfs"
#:media |      o: "addr=$DEPLOY_MEDIA_HOST,nolock,soft,rw"
#:media |      device: ":$DEPLOY_MEDIA_ROOT"
#:rclone|  rclone:
#:rclone|    driver: "rclone"
#:rclone|    driver_opts:
#:rclone|      remote: "$DEPLOY_RCLONE_REMOTE"
