version: "3.8"

x-logging: &loki-logging
    driver: loki
    options:
      loki-url: "${DEPLOY_LOKI_URL}"
      loki-retries: 5
      loki-batch-size: 400

services:
  web:
    image: ${DEPLOY_IMAGE_WEB:-linuxserver/bookstack:25.02.2}
#:log |    logging: *loki-logging
#:env |    env_file: ${DEPLOY_ENV_WEB}
#:port|    ports:
#:port|      - ${DEPLOY_PORT_WEB:-80}:80
    environment:
      - PUID=1000
      - PGID=1000
      - APP_URL=https://${DEPLOY_SUBDOMAIN:-bookstack}.${DEPLOY_HOSTNAME} #!no-proxy
      - APP_KEY=${APP_KEY:-base64:U1uOncMxtTjGmBAckpAXG5wCYnfEf9v2VC78nk95qqo=}
      - DB_HOST=db
      - DB_USERNAME=bookstack
      - DB_PASSWORD=bookstack_password
      - DB_DATABASE=bookstack
    networks:
      - external_network
      - internal_network
    volumes:
      - data:/config
    deploy:
      replicas: 1
      placement:
        constraints: 
          - ${DEPLOY_NODE_WEB:-node.labels.ignore != true}
      labels:
        - "traefik.enable=true" #!no-proxy
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-bookstack}.rule=${DEPLOY_ROUTER_WEB:-Host(\`${DEPLOY_SUBDOMAIN:-bookstack}.${DEPLOY_HOSTNAME}\`)}"
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-bookstack}.entrypoints=webhttps"
#:client-ssl|        - "traefik.http.routers.${DEPLOY_STACK_NAME:-bookstack}.tls.options=sslVerifyClient@file"
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-bookstack}.tls.certresolver=le"
        - "traefik.http.services.${DEPLOY_STACK_NAME:-bookstack}.loadbalancer.server.port=80"

  db:
    image: ${DEPLOY_IMAGE_DB:-mariadb:10.5}
    environment:
      - MYSQL_ROOT_PASSWORD=bookstack_root_password
      - MYSQL_DATABASE=bookstack
      - MYSQL_USER=bookstack
      - MYSQL_PASSWORD=bookstack_password
    networks:
      - internal_network
    volumes:
      - db:/var/lib/mysql
    deploy:
      replicas: 1
      placement:
        constraints: 
          - ${DEPLOY_NODE_DB:-node.labels.ignore != true}

networks:
  external_network:
    external: true
  internal_network:
    internal: true

volumes:
  data:
    driver_opts:
      type: "nfs"
      o: "addr=$DEPLOY_DATA_HOST,${DEPLOY_NFS_OPTS:-nolock,soft,rw}"
      device: ":$DEPLOY_DATA_ROOT/${DEPLOY_STACK_NAME:-bookstack}/data"
  db:
    driver_opts:
      type: "nfs"
      o: "addr=$DEPLOY_DATA_HOST,${DEPLOY_NFS_OPTS:-nolock,soft,rw}"
      device: ":$DEPLOY_DATA_ROOT/${DEPLOY_STACK_NAME:-bookstack}/db"
