version: "3.8"

x-logging: &loki-logging
    driver: loki
    options:
      loki-url: "${DEPLOY_LOKI_URL}"
      loki-retries: 5
      loki-batch-size: 400

services:
  web:
    image: ${DEPLOY_IMAGE_WEB:-linuxserver/chevereto:latest}
#:log |    logging: *loki-logging
#:port|    ports:
#:port|      - ${DEPLOY_PORT_WEB:-80}:80
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Shanghai
    networks:
      - external_network
#:db|      - internal_network
    volumes:
      - data:/data
      - config:/config
    deploy:
      replicas: 1
      placement:
        constraints: 
          - ${DEPLOY_NODE_WEB:-node.labels.ignore != true}
      labels:
        - "traefik.enable=true" #!port
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-chevereto}.rule=Host(`${DEPLOY_SUBDOMAIN:-chevereto}.${DEPLOY_HOSTNAME}`)"
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-chevereto}.entrypoints=webhttps"
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-chevereto}.tls.certresolver=le"
        - "traefik.http.services.${DEPLOY_STACK_NAME:-chevereto}.loadbalancer.server.port=80"

#:db|  db:
#:db|    image: ${DEPLOY_IMAGE_DB:-mariadb:10.5}
#:db|    networks:
#:db|      - internal_network
#:db|    environment:
#:db|      - MYSQL_DATABASE=chevereto
#:db|      - MYSQL_USER=chevereto
#:db|      - MYSQL_PASSWORD=chevereto_password
#:db|      - MYSQL_ROOT_PASSWORD=chevereto_root_password
#:db|    volumes:
#:db|      - db:/var/lib/mysql
#:db|    deploy:
#:db|      replicas: 1
#:db|      placement:
#:db|        constraints: 
#:db|          - ${DEPLOY_NODE_DB:-node.labels.ignore != true}


networks:
  external_network:
    external: true
  internal_network:
    internal: true

volumes:
  data:
    driver_opts:
      type: "nfs"
      o: "addr=$DEPLOY_DATA_HOST,nolock,soft,rw"
      device: ":$DEPLOY_DATA_ROOT/${DEPLOY_STACK_NAME:-chevereto}/data"
  config:
    driver_opts:
      type: "nfs"
      o: "addr=$DEPLOY_DATA_HOST,nolock,soft,rw"
      device: ":$DEPLOY_DATA_ROOT/${DEPLOY_STACK_NAME:-chevereto}/config"
#:db|  db:
#:db|    driver_opts:
#:db|      type: "nfs"
#:db|      o: "addr=$DEPLOY_DATA_HOST,nolock,soft,rw"
#:db|      device: ":$DEPLOY_DATA_ROOT/${DEPLOY_STACK_NAME:-chevereto}/db"
