version: "3.8"

x-logging: &loki-logging
    driver: loki
    options:
      loki-url: "${DEPLOY_LOKI_URL}"
      loki-retries: 5
      loki-batch-size: 400

services:
  web:
    image: ${DEPLOY_IMAGE_WEB:-mylist:latest}
#:log |    logging: *loki-logging
#:port|    ports:
#:port|      - ${DEPLOY_PORT_WEB:-8080}:8080
    networks:
      - external_network
      - internal_network
    environment:
      - SPRING_APPLICATION_NAME=MyList
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/mylist
      - SPRING_DATASOURCE_USERNAME=mylist
      - SPRING_DATASOURCE_PASSWORD=1234567
      - SERVER_PORT=8080
    volumes:
      - jar:/opt/mylist/jar
      - static:/opt/mylist/static
    deploy:
      replicas: 1
      placement:
        constraints: 
          - ${DEPLOY_NODE_WEB:-node.labels.ignore != true}
      labels:
        - "traefik.enable=true" #!no-proxy
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-mylist}.rule=Host(`${DEPLOY_SUBDOMAIN:-list}.${DEPLOY_HOSTNAME}`)"
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-mylist}.entrypoints=webhttps"
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-mylist}.tls.certresolver=le"
        - "traefik.http.services.${DEPLOY_STACK_NAME:-mylist}.loadbalancer.server.port=8080"

  db:
    image: ${DEPLOY_IMAGE_DB:-postgres:12.2-alpine}
#:log |    logging: *loki-logging
    environment:
      - POSTGRES_DB=mylist
      - POSTGRES_USER=mylist
      - POSTGRES_PASSWORD=1234567
    networks:
      - internal_network
    volumes:
      - db:/var/lib/postgresql/data
    configs:
      - source: initdb-config
        target: /docker-entrypoint-initdb.d/mylist.sql
    deploy:
      replicas: 1
      placement:
        constraints: 
          - ${DEPLOY_NODE_DB:-node.labels.ignore != true}

networks:
  external_network:
    external: true
  internal_network:
    internal: true

configs:
  initdb-config:
    file: ./config/mylist.sql

volumes:
  db:
    driver_opts:
      type: "nfs"
      o: "addr=$DEPLOY_DATA_HOST,nolock,soft,rw"
      device: ":$DEPLOY_DATA_ROOT/${DEPLOY_STACK_NAME:-mylist}/db"
  jar:
    driver_opts:
      type: "nfs"
      o: "addr=$DEPLOY_DATA_HOST,nolock,soft,rw"
      device: ":$DEPLOY_DATA_ROOT/${DEPLOY_STACK_NAME:-mylist}/jar"
  static:
    driver_opts:
      type: "nfs"
      o: "addr=$DEPLOY_DATA_HOST,nolock,soft,rw"
      device: ":$DEPLOY_DATA_ROOT/${DEPLOY_STACK_NAME:-mylist}/static"
