version: "3.8"

x-logging: &loki-logging
    driver: loki
    options:
      loki-url: "${DEPLOY_LOKI_URL}"
      loki-retries: 5
      loki-batch-size: 400

services:
  web:
    image: ${DEPLOY_IMAGE_WEB:-rmountjoy/dashmachine:v0.5-4}
#:log |    logging: *loki-logging
#:port|    ports:
#:port|      - ${DEPLOY_PORT_WEB:-5000}:5000
    volumes:
      - data:/dashmachine/dashmachine/user_data
    networks:
      - external_network
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints: [node.role == manager]
      labels:
        - "traefik.enable=true" #!port
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-dashmachine}.rule=Host(`${DEPLOY_SUBDOMAIN:-dash}.${DEPLOY_HOSTNAME}`)"
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-dashmachine}.entrypoints=webhttps"
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-dashmachine}.tls.certresolver=le"
        - "traefik.http.services.${DEPLOY_STACK_NAME:-dashmachine}.loadbalancer.server.port=5000"

networks:
  external_network:
    external: true

volumes:
  data:
    driver_opts:
      type: "nfs"
      o: "addr=$DEPLOY_DATA_HOST,nolock,soft,rw"
      device: ":$DEPLOY_DATA_ROOT/${DEPLOY_STACK_NAME:-dashmachine}/data"
