version: "3.8"

x-logging: &loki-logging
    driver: loki
    options:
      loki-url: "${DEPLOY_LOKI_URL}"
      loki-retries: 5
      loki-batch-size: 400

services:
  web:
    image: ${DEPLOY_IMAGE_WEB:-hkalexling/mango:v0.12.2}
#:log |    logging: *loki-logging
#:port|    ports:
#:port|      - ${DEPLOY_PORT_WEB:-9000}:9000
    networks:
      - external_network
    volumes:
      - data:/root/mango
    configs:
      - source: mango-config
        target: /root/.config/mango/config.yml
    deploy:
      replicas: 1
      placement:
        constraints: 
          - ${DEPLOY_NODE_WEB:-node.labels.ignore != true}
      labels:
        - "traefik.enable=true" #!port
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-mango}.rule=Host(`${DEPLOY_SUBDOMAIN:-mango}.${DEPLOY_HOSTNAME}`)"
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-mango}.entrypoints=webhttps"
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-mango}.tls.certresolver=le"
        - "traefik.http.services.${DEPLOY_STACK_NAME:-mango}.loadbalancer.server.port=9000"

networks:
  external_network:
    external: true

configs:
  mango-config:
    file: ${DEPLOY_CONFIG_MANGO:-config/mango.yml}

volumes:
  config:
    driver_opts:
      type: "nfs"
      o: "addr=$DEPLOY_DATA_HOST,nolock,soft,rw"
      device: ":$DEPLOY_DATA_ROOT/${DEPLOY_STACK_NAME:-mango}/config"
  data:
    driver_opts:
      type: "nfs"
      o: "addr=$DEPLOY_DATA_HOST,nolock,soft,rw"
      device: ":$DEPLOY_DATA_ROOT/${DEPLOY_STACK_NAME:-mango}/data"
