version: "3.8"

x-logging: &loki-logging
    driver: loki
    options:
      loki-url: "${DEPLOY_LOKI_URL}"
      loki-retries: 5
      loki-batch-size: 400

services:
  web:
    image: ${DEPLOY_IMAGE_WEB:-setzero/oneindex:latest}
#:log |    logging: *loki-logging
#:port|    ports:
#:port|      - ${DEPLOY_PORT_WEB:-80}:80
    environment:
      REFRESH_TOKEN: '0 * * * *'
      REFRESH_CACHE: '*/10 * * * *'
    networks:
      - external_network
    volumes:
      - data:/var/www/html/config
    deploy:
      replicas: 1
      placement:
        constraints: 
          - ${DEPLOY_NODE_WEB:-node.labels.ignore != true}
      labels:
        - "traefik.enable=true" #!no-proxy
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-oneindex}.rule=Host(`${DEPLOY_SUBDOMAIN:-one}.${DEPLOY_HOSTNAME}`)"
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-oneindex}.entrypoints=webhttps"
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-oneindex}.tls.certresolver=le"
        - "traefik.http.services.${DEPLOY_STACK_NAME:-oneindex}.loadbalancer.server.port=80"

networks:
  external_network:
    external: true

volumes:
  data:
    driver_opts:
      type: "nfs"
      o: "addr=$DEPLOY_DATA_HOST,nolock,soft,rw"
      device: ":$DEPLOY_DATA_ROOT/${DEPLOY_STACK_NAME:-oneindex}/data"
