version: "3.8"

x-logging: &loki-logging
    driver: loki
    options:
      loki-url: "${DEPLOY_LOKI_URL}"
      loki-retries: 5
      loki-batch-size: 400

services:
  web:
    image: ${DEPLOY_IMAGE_WEB:-nikisweeting/archivebox:0.6}
#:log |    logging: *loki-logging
#:port|    ports:
#:port|      - ${DEPLOY_PORT_WEB:-8000}:8000
    command: server 0.0.0.0:8000
    env_file: ${DEPLOY_CONFIG_WEB:-config/docker.env}
    environment:
      - TZ=Asia/Shanghai
    networks:
      - external_network
    volumes:
      - data:/data
    deploy:
      replicas: 1
      placement:
        constraints: 
          - ${DEPLOY_NODE_WEB:-node.labels.ignore != true}
      labels:
        - "traefik.enable=true" #!port
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-archivebox}.rule=Host(`${DEPLOY_SUBDOMAIN:-archivebox}.${DEPLOY_HOSTNAME}`)"
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-archivebox}.entrypoints=webhttps"
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-archivebox}.tls.options=sslVerifyClient@file"
        - "traefik.http.routers.${DEPLOY_STACK_NAME:-archivebox}.tls.certresolver=le"
        - "traefik.http.services.${DEPLOY_STACK_NAME:-archivebox}.loadbalancer.server.port=8000"

networks:
  external_network:
    external: true

volumes:
  data:
    driver_opts:
      type: "nfs"
      o: "addr=$DEPLOY_DATA_HOST,nolock,soft,rw"
      device: ":$DEPLOY_DATA_ROOT/${DEPLOY_STACK_NAME:-archivebox}/data"
